#Animal-input
{
    align-content: right;
    margin:5px;
    width: 280px;
}

.btn-submit
{
    margin-top:5px;
    margin:9px;
    border-spacing: 3in;
}



img {
    vertical-align: middle;
    border-style: none;
    width: 300px;
    height: 200px;
}

p
{
    font-weight: bold;
}