#Animal-input
{
    align-content: right;
    margin:5px;
    width: 280px;
}

.btn-submit
{
    margin-top:5px;
    margin:9px;
    border-spacing: 3in;
}



img {
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 200px;
    margin-left: 2px;
}                                                 

p
{
    font-weight: bold;
}

.bg-white
{
    margin-left: 180px;
}